/*!
 * Giscus Transparent Light Theme
 * Based on GitHub Light Default
 */
 main {
    --color-prettier-code-inline: #24292f;
    --color-prettier-code-bg: rgba(255, 255, 255, 0.4);
    --color-canvas-default: transparent;
    --color-canvas-overlay: #ffffff;
    --color-canvas-inset: transparent;
    --color-canvas-subtle: transparent;
    --color-border-default: rgba(0, 0, 0, 0.1);
    --color-border-muted: rgba(0, 0, 0, 0.1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-accent-muted: rgba(84, 174, 255, 0.4);
    --color-accent-subtle: #ddf4ff;
    --color-success-fg: #1a7f37;
    --color-attention-fg: #9a6700;
    --color-danger-fg: #cf222e;
    --color-open-fg: #1a7f37;
    --color-closed-fg: #8250df;
    --color-done-fg: #8250df;
    --color-fg-default: #24292f;
    --color-fg-muted: #57606a;
    --color-fg-subtle: #6e7781;
    --color-primer-shadow-focus: 0 0 0 3px rgba(9, 105, 218, 0.3);
    
    color-scheme: light;
  }
